<% if flash[:notice] %>
  <div class="flash-notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for @user, :html => {:class => "user-form"} do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br/>

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br/>

  <%= f.label :username %>:
  <%= f.text_field :username %><br/>

  <%= f.label :image_url %>:
  <%= f.text_field :image_url %><br/>

  <%= f.label :email %>:
  <%= f.text_field :email %><br/>

  <%= f.label :password %>:
  <%= f.password_field :password %><br/>

  <%= f.submit %>
<% end %>