<% if @place && @checkin && @checkin.user.id == current_user.id %>
<h1>Edit your checkin to this location!</h1>

<div>
  <h3><%= @place.name %></h3>
  <p>Description: <%= @place.description %></p>
  <p>Address: <%= @place.address %></p>
  <p>Capacity: <%= @place.capacity %></p>
</div>

<%=  render "checkin_form" %>
<% else %>
  <% unless flash[:error] %>
  <h1>The requested place does not exist or you are not allowed access to edit this checkin.</h1>
  <% end %>
<% end %>
