<h1 class="page-header"><%= @place.name %> Check-ins</h1>

<div class="details-container">
  <img class="detail-photo" src="<%= @place.image_url %>">
  <div class="place-details">
    <p><%= @place.description %></p>
    <p><%= @place.address %></p>
    <p><%= @place.city %>, <%= @place.state %></p>
    <p>Capacity: <%= @place.capacity %></p>
  </div>
</div>

<% if logged_in? %>
<%= link_to "Check-in to this location!", new_place_checkin_path(@place), class: "checkin-button" %>
<% end %>

<% @checkins.each do |checkin| %>
  <div class="checkin-container">
    <h3><%= link_to "Check-in #{checkin.id}", "/places/#{@place.id}/checkins/#{checkin.id}" %></h3>
    <h3><%= link_to checkin.user.username, user_path(checkin.user) %> checked in on <%= checkin.date_attended %></h3>
    <h3>Description: <%= checkin.description %></h3>
    <%= render "like", checkin: checkin %>
  </div>
<% end %>