<% if flash[:notice] %>
  <div class="flash-notice"><%= flash[:notice] %></div>
<% end %>

<h1 class="page-header">Check in to <%= @place.name %></h1>

<div class="details-container">
  <img class="detail-photo" src="<%= @place.image_url %>">
  <div class="place-details">
    <p><%= @place.description %></p>
    <p><%= @place.address %></p>
    <p><%= @place.city %>, <%= @place.state %></p>
    <p>Capacity: <%= number_with_delimiter(@place.capacity, delimiter: ",") %></p>
  </div>
</div>


<div>
  <%=  render "checkin_form" %>
</div>
