<h1 class="page-header">Check-in details</h1>

<div class="details-container">
  <img class="detail-photo" src="<%= @checkin.place.image_url %>">
  <div class="place-details">
    <p><%= @checkin.place.description %></p>
    <p><%= @checkin.place.address %></p>
    <p><%= @checkin.place.city %>, <%= @checkin.place.state %></p>
    <p>Capacity: <%= @checkin.place.capacity %></p>
  </div>
</div>

<div class="checkin-details-container">
  <%= render "checkins/like", checkin: @checkin %>
  <h3><%= link_to @user.username, user_path(@user) %> checked in on <%= @checkin.date_attended %></h3>
  <h3>Description: <%= @checkin.description %></h3>
  <% if current_user.id == @user.id %>
  <%= link_to "Edit this checkin", edit_place_checkin_path(@place, @checkin) %>
  <%= link_to "Remove this checkin", place_checkin_path(@place, @checkin), method: :delete %>
  <% end %>

  <div>
    <h4>Likes and comments</h4>
    <p><%= @checkin.likes.count %> people liked this.</p>
    <% @checkin.comments.each do |comment| %>
      <div>
        <p><%= comment.commenter.username %>: <%= comment.text %></p>
        <% if comment.commenter_id == current_user.id %>
          <%= link_to "Edit this comment", edit_place_checkin_comment_path(@place, @checkin, comment) %>
          <%= button_to "Delete this comment", place_checkin_comment_path(@place, @checkin, comment), method: :delete, params: { id: comment.id } %>
        <% end %>
      </div>
    <% end %>

    <%=  render "comments/comment_form" %>
  </div>
</div>

