<h1>Check-in details</h1>

<% if @place && @checkin %>
  <%= render "like", checkin: @checkin %>
<div>
  <h3><%= @place.name %></h3>
  <p>Description: <%= @place.description %></p>
  <p>Address: <%= @place.address %></p>
  <p>Capacity: <%= @place.capacity %></p>
</div>

<div>
  <h3><%= @user.username %> checked in on <%= @checkin.date_attended %></h3>
  <h3>Description: <%= @checkin.description %></h3>
</div>
<% else %>
  <%= flash[:notice] %>
<% end %>
