<h1 class="page-header">Check-in details</h1>

<div class="details-container">
  <img class="detail-photo" src="<%= @checkin.place.image_url %>">
  <div class="place-details">
    <p><%= @checkin.place.description %></p>
    <p><%= @checkin.place.address %></p>
    <p><%= @checkin.place.city %>, <%= @checkin.place.state %></p>
    <p>Capacity: <%= number_with_delimiter(@checkin.place.capacity, delimiter: ",") %></p>
  </div>
</div>

<div class="checkin-info-container">
  <div class="checkin-details">
    <p><%= link_to @user.username, user_path(@user), class: "user-show-link" %> checked in on <%= @checkin.date_attended %></p>
    <p>Description: <%= @checkin.description %></p>
    <% if logged_in? && @checkin.creator?(current_user) %>
    <%= link_to "Edit checkin", edit_place_checkin_path(@place, @checkin), class: "checkin-creator-link" %>
    <%= link_to "Remove checkin", place_checkin_path(@place, @checkin), method: :delete, class: "checkin-creator-link" %>
    <% end %>
    <p><%= @checkin.likes.count %> people like this.</p>
    <%= render "checkins/like", checkin: @checkin %>
  </div>

  <div class="comments-container">
    <h3>Comments:</h3>
    <% @checkin.comments.each do |comment| %>
      <div class="comment">
        <p><%= link_to comment.commenter.username, user_path(comment.commenter), class: "user-show-link" %>: <%= comment.text %></p>
        <% if logged_in? && comment.comment_author?(current_user) %>
          <%= link_to "Edit comment", edit_place_checkin_comment_path(@place, @checkin, comment), class: "comment-edit-link" %>
          <%= button_to "Delete comment", place_checkin_comment_path(@place, @checkin, comment), method: :delete, params: { id: comment.id }, class: "comment-delete-link" %>
        <% end %>
      </div>
    <% end %>

    <%=  render "comments/comment_form" %>
  </div>
</div>

