<h1>WELCOME TO LIVE ACTION!</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% @places.each do |place| %>
  <h2><%= link_to place.name, place_checkins_path(place) %><h2>
  <p><%= place.description %></p>
  <p>Address: <%= place.address %></p>
  <p>Capacity: <%= place.capacity %></p>
<% end %>