<h1><%= @place.name %></h1>

<h2><%= @place.description %></h2>

<p>Address: <%= @place.address %></p>
<p>Capacity: <%= @place.capacity %></p>

<% if logged_in? %>
<h3><%= link_to "Check-in", new_place_checkin_path(@place) %></h3>
<% end %>